.form-control {
    border: 2px solid var(--bs-gray-600);
}
.card-img-top {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item {
    border: none;
}

.card-title {
    margin-bottom: 1rem;
}
.list-group-item {
    padding: 0.5rem 0.5rem;
}
